
body {
    background-color: black;
    font-family: 'Single Day', cursive;
    background-size: cover;
}

h1 {   
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf-JF1F3kZeJcc213Z-Qs9qV0_MKL6hJ33O1OEJ_p08kGIfa5Ar2sxs__ZGlaGnmyeUmQ&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale();
    font-size: 90px;
    text-shadow: 5px 5px red;
    border: 2px solid black;
    padding-top: 40px;
    padding-bottom: 90px;
    margin-bottom: 0;
    margin-top: 0;
    /* question for Don: why didnt this work... didnt seperate h1 from background ??  */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}   

h1:hover {
    filter: none;
    padding-top: 150px;
    padding-bottom: 150px;


}

.mid {
    background-color: rgb(39, 36, 36);
    background-size: cover;
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    border: 2px solid black;
    

}

.mid:hover{
    padding-top: 60px;
    border: 3px solid grey;
    background-image: url("https://cdn-profiles.tunein.com/s277749/images/bannerx.jpg?t=637696490270000000");
}

.card {
    background-color: black;
    color: whitesmoke;
    text-shadow: 1px 1px grey;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card:hover {
    padding-bottom: 10px; 
    padding-top: 10px;
    border: 3px solid grey;
}

h2 {
    margin-bottom: 1px;
}

p {
    margin-top: 2px;
}


button {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 150px;
    padding: 10px;
    color: black;
    background-color: darkgrey;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(36, 35, 35);
    font-family: 'Single Day', cursive;;
    font-size: 15px;
    
}

button:hover {
    background-color: whitesmoke;
    border: 3px solid black;
    font-size: 17px;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
    filter: grayscale();
       
}

img:hover {
    filter: none;
    border-radius: 15%;
    width: 215px;
    height: 220px;
    border: 3px solid grey;
}

.kp {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border: 3px solid grey;
}